*.so*
*.swp
*.o
*.prl
*.moc
moc_*
Makefile
documentation.list
debugfiles.list
debuglinks.list
debugsources.list
/examples
/installroot
/RPMS
**/doc/*
**/pkgconfig/*
/daemon/sailfishsecretsd
/qml/Secrets/qrc_resources.cpp
/tests/Crypto/tst_crypto/tst_crypto
/tests/Crypto/tst_cryptorequests/tst_cryptorequests
/tests/Crypto/tst_cryptosecrets/tst_cryptosecrets
/tests/Crypto/tst_evp/tst_evp
/tests/Secrets/tst_secrets/tst_secrets
/tests/Secrets/tst_secretsrequests/tst_secretsrequests
tests/plugins/testgnupgplugin/tst_gnupgplugin
plugins/gnupgplugin/pinentry/pinentry
