[D-BUS Service]
Name=org.sailfishos.secrets.daemon.discovery
# make sure this is never used as we want systemd to start with nemo/privileged, not just nemo
Exec=/bin/false
User=nemo
SystemdService=sailfish-secretsd.service
