[Unit]
Description=Sailfish Secrets Daemon
Requires=dbus.socket booster-qt5.service
After=local-fs.target dbus.socket booster-qt5.service
Conflicts=shutdown.target jolla-actdead-charging.service

[Service]
Type=dbus
BusName=org.sailfishos.secrets.daemon.discovery
EnvironmentFile=-/var/lib/environment/sailfish-secretsd/*.conf
ExecStart=/usr/bin/invoker -o --type=qt5 /usr/bin/sailfishsecretsd
Restart=always

[Install]
WantedBy=user-session.target
