[Unit]
Description=Sailfish Secrets Daemon
Requires=dbus.socket
After=local-fs.target dbus.socket init-done.service
Conflicts=shutdown.target

[Service]
Type=notify
ExecStart=/usr/bin/sailfishsecretsd --systemd
User=nemo
Group=privileged

# try to keep environment at least partly what nemo has
EnvironmentFile=-/var/lib/environment/nemo/*.conf

[Install]
WantedBy=multi-user.target
